body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
border-style: ridge;
}

.responsive {
  width: auto;
  height: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.col {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.row {
  display: flex;
  flex-direction: row;
}


.row-top {
  align-items: flex-start;
  justify-content: flex-start;

  display: flex;
  flex-direction: row;
}

.flex-left-20 {
  flex: 40%
}

.flex-right-80 {
  flex: 60%
}

.bp3-dialog {
  width: auto;
}

.bp3-alert {
  max-width: fit-content;
}